#footer {
  color: $c-white;

  #footer-container {
    #footer-top {
      border-bottom: solid 1px $c-white;
    }
  }

  #footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
}