#header {
    display: none;
    // border-indetop: 10px solid #e5e5e5;
    // background: $c-primary;
}

#banner img {
    max-width: 100%;
}

.logo {
    grid-area: logo;

    p {
        background: black;
        height: 50px;
        color: $c-white;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
    }
}

.menu {
    grid-area: menu;
    justify-self: right;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 50px;
    }

    ul li {
        float: left;
    }

    ul li a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: $c_darkgray;
        padding: 0 0.6rem;
    }
}
