<div id="footer" class="darkbg mt50">
  <div id="footer-container" class="mb50 mt50">

    <div id="footer-top" class="pb50">
      <div id="contact-info">
        <h1 class="mb10">GradForce</h1>
        <h2 class="mb5">Corporate Office</h2>
        <p>Address: 950 Kieran Vista Suite 137</p>
        <p>Phone: 294-144-9016</p>
        <p>Email: gradforce.co.nz@gmail.com</p>
      </div>
      <div id="contact-form">
        <h1 class="mb15 mt20">Send Us A Message:</h2>

          <!-- footer contact form  -->
          <form action="" class="full-row">
            <input type="text" name="fullname" id="fullname" placeholder="Your full name" required="required"
              class="text-input block"> <input type="email" name="email" id="inputEmail" placeholder="Email"
              required="required" autofocus="autofocus" class="text-input block">
            <textarea name="message" id="message"></textarea>

            <button class="btn btnGreen" type="submit" class="fullrow">Send message
          </form>
      </div>
    </div>

    <div id="footer-bottom" class="mt20">
      <div id="copyright">
        <p>&copy;Copyright 2019, GradForce.co.nz</p>
      </div>
      <div id="social-network-icons">
        <a><img src="/assets/img/icons/facebook.png" alt="facebook icon"></a>
        <a><img src="/assets/img/icons/linkedin.png" alt="linkedin icon"></a>
        <a><img src="/assets/img/icons/twitter.png" alt="twitter icon"></a>
        <a><img src="/assets/img/icons/youtube.png" alt="youtube icon"></a>
      </div>
      <div id="footer-links">
        <ul>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>