<div id="footer" class="darkbg mt50">
  <div id="footer-container" class="mb50 mt50">

    <div id="footer-top" class="pb50">
      <div id="contact-info">
        <h1 class="mb10">GradForce</h1>
        <h2 class="mb5">Corporate Office</h2>
        <p>Address: 950 Kieran Vista Suite 137</p>
        <p>Phone: 294-144-9016</p>
        <p>Email: gradforce.co.nz@gmail.com</p>
      </div>
      <div id="contact-form">
        <h2 class="mb15 mt30">Send Us A Message:</h2>

        <!-- footer contact form  -->
        <form action="" class="full-row">
          <div>
            <label class="block" for="fullname">Your Full Name:</label>
            <input type="text" name="fullname" id="fullname" placeholder="Your full name" required="required"
              class="text-input block">
          </div>
          <div>
            <label class="block" for="email">Your Email:</label>
            <input type="email" name="email" id="inputEmail" placeholder="Email" required="required"
              autofocus="autofocus" class="text-input block">
          </div>
          <div class="fullrow">
            <label class="block" for="message">Your message:</label>
            <textarea name="message" id="message" class="block"></textarea>
          </div>
          <div></div>
          <button class="btn btnGreen" type="submit">Send message
        </form>
      </div>
    </div>

    <div id="footer-bottom" class="mt20">
      <div class="copyright">
        <p>&copy;Copyright 2019, GradForce.co.nz</p>
      </div>
      <div class="social-network-icons">
        icons coiming here
      </div>
      <div class="footer-link">
        some links
      </div>
    </div>

  </div>
</div>