<div id="footer" class="darkbg mt50">
  <div id="footer-container" class="mb50 mt50">

    <div id="footer-top" class="pb50">
      <div id="contact-info">
        <h1 class="mb10">GradForce</h1>
        <h2 class="mb5">Corporate Office</h2>
        <p>Address: 950 Kieran Vista Suite 137</p>
        <p>Phone: 294-144-9016</p>
        <p>Email: gradforce.co.nz@gmail.com</p>
      </div>
      <div id="contact-form">
        <h2 class="left-float align-left mt10">Send Us A Message:</h2>

        <!-- footer contact form  -->
        <form action="">
            <label class="float-left" for="name">Your Full Name:</label>
            <input class="float-left" type="text" id="name" name="fullname" placeholder="Your name..">
            <label class="float-left" for="email">Your Email:</label>
            <input class="float-left" type="text" id="email" name="email" placeholder="Your name..">
        </form>
      </div>
    </div>

    <div id="footer-bottom" class="mt20">
      <div class="copyright">
        <p>&copy;Copyright 2019, GradForce.co.nz</p>
      </div>
      <div class="social-network-icons">
        icons coiming here
      </div>
      <div class="footer-link">
        some links
      </div>
    </div>

  </div>
</div>