<div id="header">
    <div class="logo">
        <!-- <img src="../assets/img/" alt="logo"> -->
        <p>GradForce</p>
    </div>
    <div class="menu">
        <ul>
            <span class="hover">
                <a href="/auth/register"><i class="fas fa-home"></i></a>
                <li><a href="/auth/register">Home</a></li>
            </span>
            <span class="hover">
                <a href="#"><i class="fas fa-search"></i></a>
                <li><a href="#">Talents</a></li>
            </span>
            <span class="hover">
                <a href="#"><i class="fas fa-briefcase"></i></a>
                <li><a href="#">Jobs</a></li>
            </span>
            <!-- If there's no logged in User show Sign Up or Sign In option -->
            <% if((!isLoggedIn) && (!SignUp)) { %>
            <span class="hover">
                <a href="/auth/register"><i class="fas fa-sign-out-alt"></i></a>
                <li><a href="/auth/register">Sign Up</a></li>
            </span>

            <% } else { if(!isLoggedIn)  { %>
            <span class="hover">
                <a href="/auth/login"><i class="fas fa-sign-in-alt"></i></a>
                <li><a href="/auth/login">Sign In</a></li>
            </span>
            <% } } %>
             <!-- If there's a logged in User show Profile image and options -->
            <% if(isLoggedIn) { %>
            <span class="dropdown" style="float: right;">
                <span class="dropbtn">
                    <!-- img and name for dropBtn -->
                    <% if(user.img.data){ %>
                    <img src="<%= user.img.data %>" alt="No photo">
                    <% } else if(user.photo) { %>
                    <img src="<%= user.photo %>" alt="No photo">
                    <% } else { %>
                    <img src="/assets/img/profile-placeholder.jpg" alt="No photo">
                    <% } %>
                </span>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/auth/logout">Sign out</a>
                </div>
            </span>
            <% } %>
        </ul>
    </div>
</div>