@import 'abstracts/variables';

@import 'base/typography';

@import 'components/buttons';

@import 'layout/footer';
@import 'layout/header';
@import 'layout/forms';
@import 'layout/grid';
@import 'layout/navigation';

@import 'pages/index';
@import 'pages/login';
@import 'pages/studentprofile';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: $c-bg;
}

.title {
  font-size: 22px;
}

// GLOBAL --------------------
.mt10 {
  margin-top: 10px;
}

.mb2 {
  margin-bottom: 2px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt5 {
  margin-top: 5px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt50 {
  margin-top: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.pt50 {
  padding-top: 50px;
}

// color classes 
.graybg {
  background: $c-lightgray;
}

.darkbg {
  background: $c-midgray;
}

.c-bg {
  background: $c-bg;
}

// floats
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}



.text-input {
  background: $c-white;
  border: 1px solid $c-lightgray;
  //box-sizing: border-box;
  height: 40px;
  padding: 3px 15px;

}

input {
  input::placeholder {
    color: $c-midgray;
    font-size: 12px;
    // padding-left: 30px;
  }
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 5px;
}

.center {
  text-align: center;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: 1px solid #F1F1F1;
}

.box {
  background: #FFFFFF;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  position: relative;
  padding: 25px 20px 25px;
}

.inline {
  display: inline;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: $c-bg;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: $c-midgray;
  float: right;
  font-size: 40px;
  line-height: 30px;
  font-weight: lighter;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  height: 70px;
  padding: 15px 16px;
  background-color: $c-bg;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.modal-body {
  #edit-form-content {
    padding: 8px;
  }

  label {
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 100;
  }

  textarea {
    width: 100%;
    min-height: 100px;
  }
}

.modal-footer {
  background: $c-bg;
  height: 60px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, .15);

  #modal-footer-buttons {
    position: absolute;
    right: 16px;
    margin: 10px 0px;

    button {
      span {
        padding: 10px;
        font-size: 15px;
      }
    }
  }
}