<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    window.onload = function () {
      setTimeout(function () {
        document.body.style.opacity = "100";
      }, 300);

      var type = $(this).data('type');
      var status = $(this).data('status');

      $(this).addClass('is-active');

      $('.notify')
        .removeClass()
        .attr('data-notification-status', 'active')
        .addClass('bar' + ' notify')
        .addClass('do-show');

      event.preventDefault();
    }
  </script>
  <div w3-include-html="/partials/head.html"></div>
  <link rel="stylesheet" href="/assets/css/alerts.css">
  <script>
    function includeHTML() {
      var z, i, elmnt, file, xhttp;
      /* Loop through a collection of all HTML elements: */
      z = document.getElementsByTagName("*");
      for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute("w3-include-html");
        if (file) {
          /* Make an HTTP request using the attribute value as the file name: */
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
              if (this.status == 200) {
                elmnt.innerHTML = this.responseText;
              }
              if (this.status == 404) {
                elmnt.innerHTML = "Page not found.";
              }
              /* Remove the attribute, and call this function once more: */
              elmnt.removeAttribute("w3-include-html");
              includeHTML();
            }
          }
          xhttp.open("GET", file, true);
          xhttp.send();
          /* Exit the function: */
          return;
        }
      }
    }
  </script>
</head>

<body>
  <style>
    body {
      opacity: 0;
    }
  </style>
  <% include ./partials/header %>

  <% if(message && message.length > 0) { %>
  <main id="login-page">
    <div class="alert success">
      <img class="vertical" src="/assets/img/icons/success.png" alt=""><span class="message vertical ml10">
        <%= message %></span>
    </div>
    <div class="back">
      <a href="/auth/register">Come back to Register page</a>
    </div>
  </main>
  <% } %>

  <div w3-include-html="/partials/footer.html"></div>

  <script>
    includeHTML();
  </script>
  <script>

  </script>
</body>

</html>