<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    window.onload = function () {
      setTimeout(function () {
        document.body.style.opacity = "100";
      }, 300);
    };
  </script>
  <div w3-include-html="/partials/head.html"></div>

  <script>
    function includeHTML() {
      var z, i, elmnt, file, xhttp;
      /* Loop through a collection of all HTML elements: */
      z = document.getElementsByTagName("*");
      for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute("w3-include-html");
        if (file) {
          /* Make an HTTP request using the attribute value as the file name: */
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
              if (this.status == 200) {
                elmnt.innerHTML = this.responseText;
              }
              if (this.status == 404) {
                elmnt.innerHTML = "Page not found.";
              }
              /* Remove the attribute, and call this function once more: */
              elmnt.removeAttribute("w3-include-html");
              includeHTML();
            }
          }
          xhttp.open("GET", file, true);
          xhttp.send();
          /* Exit the function: */
          return;
        }
      }
    }
  </script>
</head>

<body>
  <style>
    body {
      opacity: 0;
    }
  </style>
  <!-- <div w3-include-html="/partials/header.ejs"></div> -->
  <% include ./partials/header %>

  <main id="login-page">
    <form action="/auth/reset/<%= token %>" method="POST">
      <h3 class="title-font mb10">Reset Password</h3>
      <p class="mb2">New Password</p>
      <input id="email" class="text-input mb10" type="password" name="password" placeholder="New password" value="">
      <p class="mb2">Confirm Password</p>
      <input id="pass" class="text-input mb15" type="password" name="confirm" placeholder="Confirm password">
      <button id="next" class="btn btnGreen mb15">
        <span>Update Password</span>
        <img src="/assets/img/right_arrow.png" alt="arrow_png">
      </button>
      <!-- <span id="signin" class="">
        <p><a href="/auth/forgetpassword"style="text-decoration: none">Forgot password?</a></p><br>
        <p>New to GradForce? <a href="/auth/register" style="text-decoration: none"> Join now</a></p>
      </span> -->
    </form>
  </main>

  <div w3-include-html="/partials/footer.html"></div>

  <script>
    includeHTML();
  </script>
</body>

</html>