$c-darkgray: #17252a;
$c-midgray: rgb(148, 148, 148);
$c-lightgray: #f1f1f1;
$c-primary: #505050;
$c-secondary: #73605b;
$c-secondary-light: #726f6e;
$c-secondary-slight: #c4dfe6;
$c-fbblue: #486ba3;
$c-gred: #e56148;
$c-white: #fff;
$c-bg: #F5F5F5;