<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GradForce | Find your first job</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    </head>
</head>
<body>
    <main class="container">
        <div class="logo">
            <p>GradForce</p>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="blank">
            <div class="slogan">
                <h1>Talented Graduates, Managed By Us, Working For You.</h1>
            </div>
        </div>
    
        <div class="jumbotron" style="width: 100%; display: block; margin: auto; text-align: center">
            <p style="font-size: 34px">GradForce</p>
            <p id="register-title" style="font-size: 30px">Profile page</p>
            <p>USERNAME <%= user.username %></p>
        </div>
            </div>
    </main>
</body>
</html>