#landing_page {
  #register {
    background: rgba($color: $c_lightgray, $alpha:0.85);
    border-top: 4px solid #e5e5e5;
    font-size: 12px;
    margin-top: 3rem;
    max-height: 610px;
    p {
      font-size: 1.25em;
    }
  }

  #slogan {
    h1 {
      font-size: 40px;
      font-weight: 400;
      margin: 3rem 0 1rem;
    }
  }
}
