#std-profile {
  margin-top: 1.5rem;

  h1 {
    margin: 0;
  }

  #std-details {
    align-content: center;
    background: $c-white;

    img:nth-child(2) {
      width: 10rem;
      border-radius: 50%;
    }
  }
}

.year {
  width: 90px;
  // max-width: 80%;
}

.course {
  width: 400px;
  // max-width: 80%;
}

.provider {
  width: 400px;
  // max-width: 80%;
}

.about {
  width: 700px;
  max-width: 100%;
}

.description {
  width: 600px;
  max-width: 100%;
}

.role,
.company {
  width: 350px;
  // max-width: 80%;
}

// .skills {
//   width: 300px;
// }

.skill-card {
  background: rgb(235, 232, 232);
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  margin-top: 2px;
}
.skill-card:hover{
  opacity: 0.7;
  cursor: default;
}

.profile-img {
  margin-top: .5em;
  width: 200px;
  max-height: 200px;
  overflow-x: auto;
  justify-self: center;
}
.img:hover {
  opacity: 0.6;
}