#std-profile {
  margin-top: 3rem;
  h1 {
    margin: 0;
  }

  #std-details {
    align-content: center;
    background: $c-white;

    img:nth-child(2) {
      width: 10rem;
      border-radius: 50%;
    }
  }
}

.year {
  width: 80px;
  max-width: 80%;
}
.course {
  width: 400px;
  max-width: 80%;
}
.provider{
  width: 400px;
  max-width: 80%;
}
.about {
  width: 700px;
  max-width: 100%;
}