.title-font {
  font-family: 'Lato';
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 0.94rem;
  font-family: 'Lato';
  font-weight: 100;
}

label {
  font-size: 0.8rem;
}

p {
  font-family: 'Lato';
  font-size: 1rem;
  font-weight: 100;
}

.big-title {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: 'Lato';
  font-weight: 300;
}