h1 {
  font-family: 'Lato';
  font-size: 2rem;
  font-weight: 300;
}

label {
  font-size: 0.8rem;
}

h2 {
  font-family: 'Lato';
  font-size: 1.4rem;
  font-weight: 300;
}

h3 {
  font-family: 'Lato';
  font-size: 1rem;
  font-weight: 300;
}

p {
  font-family: 'Lato';
  font-size: 0.9rem;
  font-weight: 100;
}

.big-title {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: 'Lato';
  font-weight: 300;
}